<div class="banner-content">
  <div class="title">
    <h1 class = "space-top">Hi! I’m Florent,</h1>
    <h1>Product Designer.</h1>
    <h4>I create and improve online experiences for startups.</h4>
  </div>
  <a class = "button-pink" href="mailto:lienard.florent@gmail.com">GET IN TOUCH</a>
</div>
<div class="work">
  <h2>Work</h2>
  <div class="shape"></div>
  <div class="experience-container">
    <div class="experience">
      <%= image_tag "thanxngo-florent-lienard.png", alt: "UI & UX Designer App Mobile Freelance Paris - Product designer" %>
    </div>
    <div class="experience">
      <%= image_tag "thanxngo-mockup.png", alt: "UI & UX Designer App Mobile Freelance Paris - Product designer " %>
    </div>
    <div class="experience">
      <%= image_tag "myvitibox.png", alt: "UI & UX Designer App Mobile Freelance Paris - Product designer" %>
    </div>
    <div class="experience">
      <%= image_tag "Matcha.png", alt: "UI & UX Designer App Mobile Freelance Paris - Product designer" %>
    </div>
    <div class="experience">
      <%= image_tag "monspecialisteauto.png", alt: "UI & UX Designer App Mobile Freelance Paris - Product designer" %>
    </div>
    <div class="experience">
      <%= image_tag "heywatch.png", alt: "UI & UX Designer App Mobile Freelance Paris - Product designer" %>
    </div>
    <div class="experience">
      <%= image_tag "leasy.png", alt: "UI & UX Designer App Mobile Freelance Paris - Product designer" %>
    </div>
  </div>
</div>
<div class="teacher">
  <h2>Teacher</h2>
  <div class="shape"></div>
  <div class="school-container">
    <div class="school">
      <%= image_tag "le-wagon-color.png", alt: "Florent Liénard slider", height: 130, class: "icon" %>
      <p class = "school-description">Le Wagon has been ranked as the best coding bootcamp in the world. I give classes in design.</p>
    </div>
    <div class="school">
      <%= image_tag "escp-europe-logo.png", alt: "Florent Liénard slider", height: 130, class: "icon" %>
      <p class = "school-description">ESCP has been ranked as one of the top european business school. I teach Product and UX Design.</p>
    </div>
  </div>
</div>
<h2>Talks</h2>
<div class="shape"></div>
<div class="school-container space">
  <div class="school">
    <%= image_tag "thefamily.png", alt: "Florent Liénard slider", class: "icon school-images" %>
    <p><strong>2 hours landing page</strong></p>
    <p class = "school-title">THEFAMILY - PARIS</p>
    <p class = "school-description">Taught thefamily Lion attendants to code and design a landing page from scratch in 2 hours with a live demo</p>
  </div>
  <div class="school">
    <%= image_tag "florent-lienard-partech.jpg", alt: "Florent Liénard slider", class: "school-images icon" %>
    <p><strong>Product Spec 101</strong></p>
    <p class = "school-title">PARTECH SHAKER - PARIS</p>
    <p class = "school-description">I have shared key insights about giving great product pitch, user stories, UX personas and UI/UX design basis.</p>
  </div>
</div>
<h2>Contact</h2>
<div class="shape"></div>
<div class="contact">
  <div class="contact-content">
    <h4 class = "min-space">Want to talk about your project?</h4>
    <a class = "button-pink" href="mailto:lienard.florent@gmail.com">REACH ME</a>
    <div class="space"></div>
  </div>
</div>
</div>
</div>
