<div class="banner">
  <div class="page-container">
    <div class="banner-content">
      <div class="title">
        <h1>Hi! I’m Florent,</h1>
        <h1>Product Designer.</h1>
        <a href="#">Get in touch</a>
      </div>
      <div class="smartphone">
        <%= image_tag "smartphone-test.svg", alt: "Florent Liénard slider", width: 300 %>
      </div>
    </div>
  </div>
</div>
<div class="work">
  <h2>Work</h2>
  <div class="shape"></div>
  <div class="experience-container">
    <div class="experience">
      <%= image_tag "Rectangle.png", alt: "Florent Liénard's experience" %>
    </div>
    <div class="experience">
      <%= image_tag "Rectangle.png", alt: "Florent Liénard's experience" %>
    </div>
    <div class="experience">
      <%= image_tag "Rectangle.png", alt: "Florent Liénard's experience" %>
    </div>
    <div class="experience">
      <%= image_tag "Rectangle.png", alt: "Florent Liénard's experience" %>
    </div>
    <div class="experience">
      <%= image_tag "Rectangle.png", alt: "Florent Liénard's experience" %>
    </div>
    <div class="experience">
      <%= image_tag "Rectangle.png", alt: "Florent Liénard's experience" %>
    </div>
    <div class="experience">
      <%= image_tag "Rectangle.png", alt: "Florent Liénard's experience" %>
    </div>
    <div class="experience">
      <%= image_tag "Rectangle.png", alt: "Florent Liénard's experience" %>
    </div>
  </div>
</div>
<div class="teacher">
  <h2>Teacher</h2>
  <div class="shape"></div>
  <div class="school-container">
    <div class="school">
      <%= image_tag "Rectangle.png", alt: "Florent Liénard slider", width: 300 %>
      <p>Le Wagon has been ranked 3 years in a row as the best coding bootcamp in the world.</p>
    </div>
    <div class="school">
      <%= image_tag "Rectangle.png", alt: "Florent Liénard slider", width: 300 %>
      <p>ESCP is one of the top european business school.</p>
    </div>
  </div>
</div>
<h2>Talks</h2>
<div class="shape"></div>
<div class="school-container">
  <div class="talk">
    <%= image_tag "Rectangle.png", alt: "Florent Liénard slider", width: 300 %>
    <p><strong>2 hours landing page</strong></p>
    <p>THEFAMILY</p>
    <p>Taught thefamily Lion attendants how to code and design a landing page from scratch in 2 hours with a live demo</p>
  </div>
  <div class="talk">
    <%= image_tag "Rectangle.png", alt: "Florent Liénard slider", width: 300 %>
    <p><strong>Product Spec 101</strong></p>
    <p>Partech shaker - Paris</p>
    <p>I have shared key insights about product pitch, user stories and UI/UX design basis.</p>
  </div>
</div>
<div class="contact">
  <div class="contact-content">
    <p>If you scrolled that down, we may need to talk ;)</p>
    <a href="">Contact me</a>
  </div>
</div>
</div>
</div>
