
<!-- ENF TEST -->
<div class="headers">
  <!-- Home -->
  <div class="left">
    <%= link_to "Home", "/", class: "active-tab navbar-wagon-item navbar-wagon-link" %>
  </div>
  <!-- Right Navigation -->
  <div class="right">
    <%= link_to "Work", "work", id: "active-tab", class: "right-item" %>
    <%= link_to "About", "about", class: "right-item" %>
    <%= link_to "Contact", "contact", class: "right-item" %>
  </div>
</div>
<div class="work-experience">
  <div class="experience-title">
  <p></p>
  <%= image_tag("leasy_logo_black.png", width: 100) %>
  </div>
  <div class="experience-moto">
    <p>
      Automate your property management
    </p>
  </div>
  <div>
    <%= image_tag "leasy.png", class: "experience-banner"%>
  </div>
  <div class="experience-description">
  <a href="http://leasy.xyz" id = "work-button" class="btn btn-work" target="_blank">Visit website</a>
    <p class = "experience-details">Leasy is a SAAS solution for property managers eager to gain in productivity. With Leasy, focus on high valued-added missions rather than spending hours on repititive and boring tasks.</p>
    <p class = "technologies"><strong>Techonologies:</strong> Ruby on Rails, Javascript, Jquery, HTML/SCSS</p>
  </div>
</div>
</div>
